*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
  
}
.container{
    height: 100vh;
   
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image:linear-gradient(  rgb(186, 243, 171),rgb(56, 245, 9)) ;
}
.format{
   
   width: 500px;
    height: 400px;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    background-color: white;
}
.section,.length{
    padding-left: 5%;
}
.password{
    height: 50px;
    width: 500px;
    
    margin-top: 1%;
    margin-left: 34.5%;
    margin-right: 34.5%;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.section>input{
    
    height: 20px;
    width: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #34495E;
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
    transition-property: all;
    background-color:white;
    cursor: pointer;
}
.section>input:checked{
    border: 1px solid #41B883;
    background-color: rgb(56, 245, 9);
}
.generate{
    margin-left: 34.5%;
    padding: 10px;
    background: transparent;
    border: none;
    color: white;
    background-color: rgb(56, 245, 9);
    outline:1px solid rgb(56, 245, 9);
    transition: all 0.5s;
}
.generate:hover{
    background-color: transparent;
    cursor: pointer;
    color: black;
}
.copy{
    padding: 10px;
    margin-top: 20px;
    background: transparent;
    border: none;
    color: white;
    background-color: rgb(56, 245, 9);
    outline:1px solid rgb(56, 245, 9);
    transition: all 0.5s;
}
.copy:hover{
    background-color: white;
    cursor: pointer;
    color: black;
}
@media screen and (max-width:520px) {
    .format{
        width: 90%;
        margin-top: 20px;
    }
    .password{
        width: 90%;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    h1{
        font-size:24px !important;
        padding-top: 30px !important;
        
    }
    p{
        padding-top: 30px !important;
    }
    .copy{
        margin-top: 0;
    }
}